*{
    margin: 0px;
    padding: 0px;  
}

/* For Html Tags */
body{
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

p{
    font-family: cursive;
    line-height: 2;
    color: rgb(53, 53, 56);
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-size: .5 rem;
    font-family: cursive;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: cursive;
    color: #11999E;
}

hr{
    border: dotted;
    border-bottom: none;
    width: 4%;
    margin: 0px auto 0px auto;
    color: #8f9b9b;
}

/* Navigation bar */

.navbar{
    display:flex;
    padding-top: 50px;
    padding-left: 50px;
    
}

.navbar li{
    font-size: 120%;
    font-family: cursive;
    padding: 15px;
    text-decoration: none;
    display: inline-block;  
}

.navbar li a{
    text-decoration: none;
    color:#397b7b;
}

.navbar li a:hover{
    color: black;
    transition: ease 2s;
}

/* Top container */

.top-container{
    background-color: #E4F9F5;
    position: relative;
    height: 750px;
    margin-bottom: 18px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 110px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);
}


/* Middle Container */

#profile{
    margin: 19px auto 19px auto;
}

.profile-image{
    width: 10%;
}

.profile-text{
    width: 20%;
    margin: 10px auto 0px;
}

#skill{
    background-color: rgb(223, 223, 226);
    margin: 19px auto 19px auto;
}

.skill-row-1{
    width: 50%;
    margin: 38px auto 0px auto;
    text-align: left; 
}

.skill-row-2{
    width: 50%;
    margin: 38px auto 0 auto;
    text-align: left; 
}

.skill-image-1{
    padding-top: 8px;
    width: 15%;
    float: left;
    margin-right: 30px;
}

.skill-image-2{
    padding-top: 8px;
    width: 15%;
    float: right;
    margin-left: 30px;
}

/* contact section */

#contact{
    margin: 19px auto 19px auto;
    line-height: 2;
}

#contact a{
    text-decoration: none;
    font-family: cursive;
}

.contact-heading{
    display: inline-block;
}

.contact-paragraph{
    display: inline-block;
}

#contact img{
    margin-top:20px; 
    width: 2%;
    cursor: pointer;
}

/* Bottom Container */

.footer{
    background-color: #66BFBF;   
    margin-top: 18px; 
}

.bottom-info{
    display: inline-block;
}






